*~
*swp

src/linux_project_file/*.o
src/linux_project_file/moc*.cpp
src/linux_project_file/Riobot
src/linux_project_file/*.so*
src/linux_project_file/*.pro.user
src/linux_project_file/scripts*
src/linux_project_file/*.log
src/linux_project_file/*.s3db
lib/libkalmanfilter.a
*tags*
*cscope.*

ui_*
*-build-desktop
*.pro.user
*src/ipch*
[Bb]uild
[Dd]ebug
[Rr]elease
GeneratedFiles
*.ilk
Makefile
Rio.exe
Rio_debug.exe

ipch
*.pdb
*.sdf
*.suo
*.opensdf
Riobot
*testconsole
*rionow
Rio.vcxproj.filters


log4qt.lib
log4qt_debug.lib
log4qt.vcxproj.filters
log4qt.vcxproj.user
logs
MeiHaruka.lib
MeiHaruka_debug.lib

DebugToolsForLinux/mainApplication/*moc*
DebugToolsForLinux/mainApplication/*.o
DebugToolsForLinux/subproject/court/*moc*
DebugToolsForLinux/subproject/court/*.o
